/win-x64/*
!/win-x64/.gitkeep
/win-x86/*
!/win-x86/.gitkeep
/linux-arm/*
!/linux-arm/.gitkeep
/linux-arm64/*
!/linux-arm64/.gitkeep
/linux-x64/*
!/linux-x64/.gitkeep
/linux-x86/*
!/linux-x86/.gitkeep
/osx-x64/*
!/osx-x64/.gitkeep